.calc-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#num1, #num2 {
    height: 20px;
    margin: 0px 30px;
    border-radius: 5px;
}

.btn-div, .result-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-operator {
    width: 30px;
    cursor: pointer;
    height: 30px;
    margin: auto 10px;
    background-color: white;
    color: blue;
}

#result {
    width: 200px;
    height: 30px;
    margin: 20px auto;
    border: 1px double blue;
    border-radius: 5px;  
}