.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

form {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 175, 2, 0.733);
    text-align: center;
    border: 2px solid blue;
    border-radius: 10px;
}
.name, .pass {
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.sub {
    margin: 20px 50px;
    color: black;
    font-weight: bold;
    font-size: medium;
    background-color: rgba(0, 0, 255, 0.36);
}